body {
    padding: 0;
    margin: 0;
    background: #2600fc9f;
}
.navbar {
    background:#4651b425;
}
.nav-link,
.navbar-brand {
    color: #fff;
    cursor: pointer;
}
.nav-link {
    margin-right: 1em !important;
}
.nav-link:hover {
    color: #000;
}
.navbar-collapse {
    justify-content: flex-end;
}